/* Optional: Makes the sample page fill the window. */

/* Global tags: */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {  
  color: black; /* Цвет символа */
  font-size: 150%; /* Размер шрифта */
  text-decoration: none;
} 
a:hover{ 
  
}
/* == Global tags == */


.drop-down-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color:gray;
  height: 2rem;
}




#map {
  height: 60%;
 }


